<h1>Burger App</h1>

{{!-- Loop --}}
{{!-- Align Left --}}
<ul>
    {{#each burger_name}}
    {{#unless this.devoured}}
    {{!-- Render undevoured burgers here --}}
    <li>{{ this.id }}. {{ this.burger_name }} </li>
    <button data-id="{{this.id}}" class="eatBurgerBtn">Devour!</button>
     <li>{{ this.burger_name }} </li>

<li>{{ this.burger_name }} </li> 
    {{/unless}}
    {{/each}}
</ul> 
<ul>
     {{!-- Align right --}}
    {{#each burger_name}}
    {{#if this.devoured}}
    <li>{{ this.id }}. {{ this.burger_name }} </li>
    {{/if}}
    {{/each}}
</ul> 

<h2>Add a Burger to Devour</h2>
<form class="devour-form">
    <textarea></textarea>
    <input type="hidden" class="burger_id" type="text" value={{this.id}}>
    <button type="submit"> Add a Burger!</button>
</form>