<h1>Burger App</h1>

<img src="assets/img/burger1.jpg" alt="Image of a Burger" width="280px" height="300px">

<br><br>


{{!-- Align Left --}}

    {{#each burger}}
    {{#unless this.devoured}}
    {{!-- Render undevoured burgers here --}}
    {{!-- <li> --}}
        <p>{{ this.id }}. {{ this.burger_name }}</p>
    {{!-- </li> --}}
    <button data-id="{{this.id}}" class="eatBurgerBtn">Eat Me!</button>
    
    {{/unless}}
    {{/each}}


    {{!-- Align right --}}
    {{#each burger}}
    {{#if this.devoured}}
    <p>{{ this.id }}. {{ this.burger_name }} </p>
    {{/if}}
    {{/each}}


<h2>Add a Burger to Devour...</h2>
<form method="POST" action="/create" class="devour-form">
    <textarea rows="2" cols="35" class="burger_name"> </textarea>
    {{!-- <input type="hidden" name="devoured" class="burger_id" type="text" value="1" devoured> --}}
    <br>
    <button type="submit"> Add a Burger!</button>
</form>